<form (submit)="search()" #searchForm="ngForm">
  <div class="form-group">
    <label for="searchQuery">Find your favourite films...</label>
    <div class="input-group">
      <input type="text"
        id="searchQuery"
        name="searchQuery"
        class="form-control"
        [(ngModel)]="searchQuery"
        required
        minlength="1"
        #query="ngModel" />
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" [disabled]="query.invalid"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </div>
</form>
